body {
	font-family: 'Roboto', sans-serif; 
	font-size: 19px;
	background-color: #A3CC7A;
}

#map {
	width: 512px;
	height: 400px;
	background-color: #CCC;
	margin-left: 400px;
	margin-top: 20px;
}

#input{
	margin-left: 400px;
	margin-top: 150px;
}